<html>
    <head>
        <title> {{title}} | Hackle's blog </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{description}}">
        
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://hacklewayne.com">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:image" content="https://s3.ap-southeast-2.amazonaws.com/hacklewayne.com/blog-opg.jpg">
        
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="hacklewayne.com">
        <meta property="twitter:url" content="https://hacklewayne.com/{{slug}}">
        <meta name="twitter:title" content="{{title}}">
        <meta name="twitter:description" content="{{description}}">
        <meta name="twitter:image" content="https://s3.ap-southeast-2.amazonaws.com/hacklewayne.com/blog-opg.jpg">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/themes/prism.min.css" />
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body class="markdown-body">
        <header>
            <p>
                <a class="title" href="/">Hackle's blog</a>
                <br>
                <span class="subtitle">between the abstractions we want and the abstractions we get.</span>
            </p>
            <div class="links">
                <a href="/about">about</a>
                <a href="https://www.linkedin.com/in/hacklew/" target="_blank"><img class="linkedin-logo" src="https://s3.ap-southeast-2.amazonaws.com/hacklewayne.com/linkedin-logo.png" alt="@hacklew" /></a>
                <a href="https://twitter.com/hacklew" target="_blank"><img class="twitter-logo" src="https://s3.ap-southeast-2.amazonaws.com/hacklewayne.com/twitter-logo.png" alt="@hacklew" /></a>
                <a href="/rss/index.xml" target="_blank"><img class="rss-logo" src="https://s3.ap-southeast-2.amazonaws.com/hacklewayne.com/rss.png" alt="rss channel" /></a>
            </div>
        </header>            
        <div class="promote">
            Check out my workshop at <strong>NDC</strong> { Oslo } <br>
            May 22-23 <a href="https://ndcoslo.com/agenda/simple-by-design-declutter-your-architecture-code-and-test/54abfeed701d" target="_blank">Simple by Design: Declutter Your Architecture, Code and Test</a> <br>
        </div>
        <h1>{{title}}</h1>
        {{{meta}}}
        
        <footer>
            <p>Last updated on {{date_updated}}</p>
            <p>
                Share on
                <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.hacklewayne.com%2F{{slug}}&text={{title}}">Twitter</a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hacklewayne.com%2F{{slug}}&text={{title}}">Facebook</a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.hacklewayne.com%2F{{slug}}&title={{title}}">LinkedIn</a>
            </p>
            <p>
                See also
                <ul>
                    {{#each see_also }}
                        <li><a href="/{{1}}">{{0}}</a></li>
                    {{/each}}
                </ul>
            </p>
            <hr>
            <a href="/about">About me and this blog, or get in touch</a>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-haskell.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-csharp.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-fsharp.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-css.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-javascript.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-typescript.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-rust.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-go.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-python.min.js"></script>
        <script src="/static/prism-idris.js"></script>
    </body>
</html>